doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/js/components/bootstrap/dist/css/bootstrap.min.css')
  body
    script(type='text/javascript', src='/js/components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/js/components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/components/angular/angular.min.js')
    block content